apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-api
  template:
    metadata:
      labels:
        app: log-api
    spec:
      containers:
        - name: log-api
          image: ibrahimsaif/kafka-api:latest
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
            - name: MONGO_URI
              value: "mongodb://mongodb:27017/log-service"
            # مؤقتًا هنوقف كافكا جوّه الكلاستر لحد ما نزبطه
            - name: KAFKA_BROKER
              value: "kafka:9092"
---
apiVersion: v1
kind: Service
metadata:
  name: log-api
spec:
  type: NodePort
  selector:
    app: log-api
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30000   # زي الفيديو بالظبط
